<div class="grid">
    <vcm-grid-column-internal *ngFor="let column of columns; trackBy:columnTrackBy"
                              [heading]="column.heading"
                              [headingTemplate]="column.headingTemplate?.templateRef"
                              [sortable]="column.sortable"></vcm-grid-column-internal>
    <div class="row" *ngFor="let row of rows; let rowIndex = index; trackBy:rowsTrackBy">
        <vcm-grid-cell-internal class="cell" *ngFor="let column of columns; trackBy:columnTrackBy"
                                [row]="row"
                                [cellTemplate]="column.cellTemplate?.templateRef"
                                [key]="column.key"
                                [index]="rowIndex"></vcm-grid-cell-internal>
    </div>
</div>