<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <a *ngFor="let hero of heroes" [routerLink]="['/hero', hero.id]" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
</div>
<!--<my-transcluded>
    <h2 class="title">Title content</h2>
    <h2 class="body">Body content</h2>
    <h2>Remaining content</h2>
</my-transcluded>

<vcm-dynamic-view-generator></vcm-dynamic-view-generator>


<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>-->



<vcm-grid [gridOptions]="gridOptions"></vcm-grid>
Dashboard Number = {{number}}

<router-outlet></router-outlet>