<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <a *ngFor="let hero of heroes" [routerLink]="['/hero', hero.id]" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
</div>
<!--<my-transcluded>
    <h2 class="title">Title content</h2>
    <h2 class="body">Body content</h2>
    <h2>Remaining content</h2>
</my-transcluded>

<vcm-dynamic-view-generator></vcm-dynamic-view-generator>


<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>-->

<input [(ngModel)]="search" (ngModelChange)="gridOptions.api.search = search" placeholder="Search ...">

<vcm-grid [gridOptions]="gridOptions" [rows]="rows" trackByKey="id">
    <vcm-grid-column sortable title="Id" key="id" classNames="col-xs-2"></vcm-grid-column>
    <vcm-grid-column sortable filterable title="Name" key="name" classNames="col-xs-4">
        <template vcm-grid-title><b>NAME</b></template>
        <template vcm-grid-cell let-row="row"><strong>{{row.name}}</strong></template>
    </vcm-grid-column>
    <vcm-grid-column filterable title="Skill" key="skill" classNames="col-xs-4"></vcm-grid-column>
</vcm-grid>

<router-outlet></router-outlet>